<div class="box"> 
  <h2><strong>1</strong> Acquisition</h2> 
  <ul id="menu-cfa_fellows" class="menu">
    <% if !@visits.blank?%>
    <li class="percentage"><strong><%=@visits.size%></strong><br>
    Number of Visits (started <%=Counter.first.created_at.strftime("%m-%d-%y")%>)
    </li>
    <%end%>
    <li class="percentage"><strong><%=@projects.sum(&:watchers)%></strong><br>
    Number of watchers
    </li>
    <h4>Acquisition measures the number of coders who visit our projects</h4>
  </ul>
</div>
