<div class="box"> 
  <h2><strong>4</strong>Referral</h2> 
  <ul id="menu-cfa_fellows" class="menu">
    <li class="percentage"><%= 0.54 > 0 ? image_tag("up_arrow.png") : image_tag("down_arrow.png") %><strong>54%</strong><br>
    Number of thingies
    </li>
    <h4>Referrals measure whats?</h4>
  </ul>
</div>