/*
===============
developed by Vel
at http://www.vhg-design.com
===============
*/
html, body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 62.5%;
}

body {
  color: #666;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  text-shadow: none;
}

a {
  color: #cb2a3c;
	text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {line-height: 1.4em; font-size: 14px;}

ul, ol, dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.entry-content ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 25px;}

h1, h2, h3, h4, h5, h6, form, fieldset {
  margin: 0;
  padding: 0;
}
fieldset {
  border: none;
}
input, select, textarea, button {
  font: normal 1em Arial, Helvetica, sans-serif;
  border: none;
  padding: 0;
  line-height: 27px;
  background: #ececec;
  color: #666666;
  font-size: 1.00em;
}

blockquote {
	border-left: 5px #CCC solid;
	padding-left: 10px;
}

img.alignleft  { float: left; height: auto; margin: 5px 15px 5px 0; }
img.alignright  { float: right; height: auto; margin: 5px 0 5px 15px; }
img.aligncenter  { text-align: center; margin-bottom:15px;}
img.aligncenter  { margin-left:auto; margin-right:auto; display:block; }


.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
}

.wrap {
  margin: 0 auto;
  text-align: left;
  width: 940px;
  clear: both;
}
.wrap-b {
  padding-bottom: 15px;
  background: url(/images/wrap-bg-b.gif) 0 100% repeat-x;
  margin-bottom: 10px;

}
.wrap-t {
  padding-top: 15px;
  background: url(/images/wrap-bg-t.gif) 0 0 repeat-x;
  margin-top: 10px;

}

#twocols-container {
  float: right;
  position: relative;
  width: 730px;
}
.like-btn {
  display: block;
  text-indent: -999em;
  outline: none;
}

a img, img a {text-decoration: none; border: none;}


.user {float: left; margin-right: 5px;}
.author-list {min-height: 250px;}

.wp-caption-text {font-style: italic;
font-size: .8em;
text-align: center;}

.wp-caption .alignright {float: right;}
.wp-caption .alignleft {float: left;}


/*   ============   HEADER   ============   */

#header {
  height: 167px;
  position: relative;
 padding-top: 27px;
}
#header a#logo {
  width: 150px;
  height: 86px;
  float: left;
  background: url(/images/logo.png) 0 0 no-repeat;
  margin-top: 3px;
}
#header #tag-line {
  height: 75px;
  width: 420px;
  background: url(/images/vertical-dot.gif) 0 0 repeat-y;
  margin-left: 35px;
  padding-left: 35px;
  float: left;
}
#header #tag-line h1 {
  font-size: 1.75em;
  text-transform: uppercase;
  margin:2px 0 8px;
  letter-spacing: 1px;
text-shadow: #999 1px 1px 1px;
}
#header #tag-line h2 {
  font-size: 1.25em;
   font-weight: normal;
}
#social {
  float: right;
  margin-top: 15px;
}
#social li {
  float: left;
  margin-left: 5px;
}
#social li a {
  display: block;
  outline: none;
  text-indent: -999em;
  width: 41px;
  height: 40px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
#social li a#rss {
  background-image: url(/images/rss-icon.png);
}
#social li a#fb {
  background-image: url(/images/fb-icon.png);
}
#social li a#yt {
  background-image: url(/images/yt-icon.png);
}
#social li a#tw {
  background-image: url(/images/tw-icon.png);
}
#social li a#mail {
  background-image: url(/images/mail-icon.png);
}
#nav-wrap {
  clear: both;
  padding-top: 18px;
  height: 64px;
}
#nav {
  position: relative;
  height: 50px;
  float: left;
  margin-top: 10px;
}


#nav li {
  float: left;
  padding-right: 3px;
  background: url(/images/nav-li-bg.gif) top right no-repeat;
}
#nav li.current_page_item {
  padding-left: 0;
}
#nav li a {
  padding: 0 14px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1px;
text-shadow: #ccc 1px 1px 1px;
}
#nav li.first a {
  padding-left: 0;
}


#nav li.current_page_item a, #nav li a:hover, #nav li a.active {
   color: #409dd6;
}
#nav ul {
  position: absolute;
  left: 0;
  top: 27px;
}
#nav ul li {
  float: left;
  padding: 0;
  background: url(/images/arrow.png) no-repeat 100% 0%;
  margin-right: 15px;
padding-right: 15px;
}
#nav ul li a {
  text-transform: none;
  font-size: 1.08em;
   color: #409dd6;
   padding: 0;
   font-weight: normal;
   letter-spacing: normal;
}
#nav ul li a span {
  color: #cb283a;
}

li#menu-item-4 a, li#menu-item-2468 a {
	padding-left: 0px;
}
/*   ============   Home Page   ============   */
#become-wrap {
  width: 960px;
}
#become-wrap .box {
  float: left;
  width: 220px;
  margin: 12px 10px;
}
#become-wrap .box h2 {
  color: #000;
  text-transform: uppercase;
  font-size: 1.42em;
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  padding-right: 18px;
  background: url(/images/red-arrow.gif) 100% 50% no-repeat;
text-shadow: #CCC 1px 1px 1px;
}
#become-wrap .box h2 strong {
  width: 20px;
  height: 21px;
  line-height: 21px;
  background: url(/images/numbers-bg.gif) 0 0 no-repeat;
  color: #fff;
  font-size: 0.94em;
  display: -moz-inline-stack;
  display: inline-block;
  text-align: center;
  margin-right: 6px;
}

#become-wrap .box ul {
  padding-top: 11px;
  background: url(/images/horizontal-dots.gif) 0 0 repeat-x;
}
#become-wrap .box li {
  margin-bottom: 10px;
}
#become-wrap .box li a {
  padding-left: 21px;
  display: block;
  background: url(/images/bullet-red-arrow.gif) 0 3px no-repeat;
  color: #707070;
  font-size: 1.17em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
#become-wrap .box li a:hover {
  color: #cb2a3c;
}

li.percentage {
    vertical-align: middle;
}
li.percentage strong {
    font-size: 40px;
    margin-left: 5px;
}


/*   ============   FOOTER   ============   */

#footer {
  clear: both;
  background: #ebebeb url(/images/footer-bg.gif) 0 100% repeat-x;
  margin-top: 50px;
  padding: 20px 0 45px;
}
#footer .wrap {
  position: relative;
}
#footer .wrap #logo-f {
  position: absolute;
  right: 10px;
  bottom: -5px;
}
#footer .wrap #logo-f a.like-btn {
  height: 40px;
  width: 100px;
  background: url(/images/logo-f.png);
}


#footer li {
  float: left;
  margin-left: 38px;
  line-height: 18px;
}
#footer li:first-child {
  margin-left: 0;
}
#footer li h4 {
  font-size: 1.17em;
  text-transform: uppercase;
}
#footer li a {
  color: #666;
  text-decoration: none;
}
#footer li a:hover {
  color: #cb2a3c;
}


#footer li li {
  float: none;
  margin-left: 0;
}
#footer #copyr {
  clear: both;
  padding-top: 35px;
}
#footer #copyr a {
  color: #666;
}
#footer #copyr a:hover {
 color: #cb2a3c;
}

ul h4 {
    margin-bottom: 5px;
    background: url(/images/horizontal-dots.gif) 0 0 repeat-x;
}

.bigger_box {
  float: left;
  width: 400px;
  margin: 12px 10px;
}


/*   ---------   Float containers fix   ---------   */

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}

/* tables sorter */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 940px;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}



